<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>DarkData</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Workshop - DarkData</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="#">O que é</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Exemplos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Beneficios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Manipulação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Configurações Ideais</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Desafios da Segurança</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Desafios da Conformidade</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <p>Se você é um físico ou astrônomo (e no mundo de Analytics & Information Management existem alguns deles), você estará muito familiarizado com o desequilíbrio no universo entre a matéria visível. Ou seja, as estrelas e planetas que podemos ver e a ‘matéria escura’. A matéria escura parece constituir grande parte da massa do universo, mas é difícil descobrir como vê-la ou medi-la. E a dark data assemelha-se bastante a ela.</p>
        <p> O fato é que muitos dos dados que temos são visíveis. É o caso, por exemplo, da maior parte do que você vê por meio da interface SAP ou do Salesforce, ou do aplicativo de mobile banking. Ou seja, nomes e IDs de clientes, valores de transação, códigos e descrições dos produtos, etc. Esses dados são importantes porque, uma vez analisados, pode-se obter insights que levem a ações de negócios.</p>
        <p>Contudo, assim como a matéria escura, há muitos dados ocultos por aí, que podem não ser analisados ​​tão facilmente. E o volume de dark data supera enormemente o volume de dados visíveis. Essa dark data é encontrada em logs, em metadados, em campos de texto e documentos, em vídeo, em áudio, em imagens. Embora os dados visíveis possam ser facilmente analisados ​​em bancos de dados, a dark data demanda uma extração complicada antes de ser analisada.</p>
           </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     
    <!-- Option 2: Separate Popper and Bootstrap JS -->
 <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
 -->
  </body>
</html>